*{
  font-family: 'Red Hat Display', sans-serif;
}

.bg{
  position: absolute;
  top: 0;
  left: 0;
}

.bg{
  z-index: -2;
  background-image: url(../src/assets/bg-blur.svg);
  background-color: var(--bg-base-color);
  background-repeat: repeat;
  background-size: cover;
  background-position: -50vh -50vw;
}

#mouse-event{
  position: absolute;
  width: 40vw;
  height: 40vw;
  border-radius: 100vw;
  transform: translate(-50%, -50%);
  background-color: rgba(208, 0, 255, 0.5);
  opacity: 0.6;
  display: block;
  z-index: -1;
  filter: blur(180px);
  -webkit-filter: blur(180px);
  transition: 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}

#mouse-event-container{
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
