*{
  font-family: 'Red Hat Display', sans-serif;
}

h1, h2, button{
  font-weight: 900;
}

h1{
  color: white;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  font-size: 90px;
  line-height: 120%; /* 108px */
  letter-spacing: -0.5px;
}

h2{
  font-size: 30px;
  line-height: 150%; /* 45px */
}

p{
  font-size: 23.333px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 35px */
}

button{
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 4px;
  background: var(--Active-Blue, #1010DD);
  border: none;
  font-size: 25.216px;
  line-height: 165%; /* 41.606px */
  color: white;
  letter-spacing: 1px;
  position: relative;
}

button::after{
  content: "";
  position: absolute;
  width: 80%;
  height: 100%;
  bottom: -12px;
  display: block;
  border-radius: 4px;
  background: var(--Active-Blue, #1010DD);
  z-index: -1;
  opacity: 0.5;
  filter: blur(20px);
  -webkit-filter: blur(20px);
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}

button:hover::after{
  opacity: 1;
  width: 95%;
  bottom: -6px;
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

button > img{
  padding-left:5px ;
}
.light{
  opacity: 0.5;
}

.wrapper{
  padding: 0 240px;
}

.bg{
  position: fixed;
  top: 0;
  left: 0;
}

.bg{
  z-index: -2;
  background-image: url(../src/assets/bg-blur.svg);
  background-color: var(--bg-base-color);
  background-repeat: repeat;
  background-size: cover;
  background-position: -50vh -50vw;
}

#mouse-event{
  position: fixed;
  width: 40vw;
  height: 40vw;
  border-radius: 100vw;
  transform: translate(-50%, -50%);
  background-color: rgba(208, 0, 255, 0.5);
  opacity: 0.6;
  display: block;
  z-index: -1;
  filter: blur(180px);
  -webkit-filter: blur(180px);
  transition: 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}

#mouse-event-container{
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
